{% extends "admin/base.html" %}

{% block title %}
	Banners - Flask Store
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}

    {% if not banners %}
		<div class="add-new btn-success btn">
			<a href="{{ url_for('admin.addbanner') }}" class="text-light">Adicionar</a>
		</div>
		<div class="flash-error">Não há banners cadastrados.</div>
	{% else %}
    <div class="add-new btn-success btn">
        <a href="{{ url_for('admin.addbanner') }}" class="text-light">Adicionar</a>
    </div>
	<div class="add-new btn-success btn">
        <a href="{{ url_for('admin.cleartable', type='banner') }}" class="text-light">Limpar tabela</a>
    </div>
	<div class="table-responsive">
    <table class="table table-striped">
        <tr>            
            <th>Imagem</th>
			<th>Caminho</th>			
            <th>Operações</th>
        </tr>
    {% for banner in banners %}
        <tr>          
			<td>{{ banner.id }}...</td> 
			<td>{{ banner.image[:15] }}...</td>
			<td>
                <a href="{{ url_for('admin.edit', type='banner', id=banner.id) }}">&#9998;</a>
				<a href="{{ url_for('admin.delete', type='banner', id=banner.id) }}">&#10060;</a>
			</td>
        </tr>
    {% endfor %}
    </table>
	</div>

	{% endif %}
{% endblock %}