{% extends "base.html" %}

{% block title %}
	Home - Flask-Store
{% endblock %}

{% block content %}

	{% include 'banner.html' %}

	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	
	{% if search %}
	<h3>Resultado da busca por "{{ query }}":</h3>
	{% else %}
	<div class="container-xl">
		<div class="row">
			<div class="col-md-12">
				<h2>Featured <b>Products</b></h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					{% for i in range(slide) %}
					{% if i == 0 %}					
					<li data-target="#myCarousel" data-slide-to="{{ i }}" class="active"></li>
					{% else %}
					<li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
					{% endif %}
					{% endfor %}
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					
					{% set contar = namespace(value=1) %}
					{% for item in items[::-1] %}
					{% if contar.value == 1 %}
					<div class="item carousel-item active">
						<div class="row">
					{% elif contar.value == 5 or contar.value == 9 or contar.value == 12 %}
					<div class="item carousel-item">
						<div class="row">
					{% else %}
						
					{% endif %}
						
							<div class="col-sm-3">
								<div class="thumb-wrapper m-lg-2">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="{{ item.image }}" class="img-fluid" alt="">									
									</div>
									<div class="thumb-content">
										<h4>{{ item.name }}</h4>
										{% set contar.value = contar.value + 1 %}									
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<p class="item-price"><strike>$400.00</strike> <b>R$ {{ item.price }}</b></p>
										<a href="{{ url_for('item', id=item.id) }}" class="btn btn-primary">Ver detalhes</a>
									</div>						
								</div>
							</div>	

					{% if contar.value == 1 %}
						</div>						
						</div>
					{% elif contar.value == 5 or contar.value == 9 or contar.value == 12 %}
						</div>						
						</div>
					{% else %}
						
					{% endif %}						
					
					{% endfor %}
				</div>				
			</div>
		</div>
		<!-- Carousel controls -->
		<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="carousel-control-next" href="#myCarousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>
	</div>	
	</div>

	{% endif %}


	
	{% if not items %}
	<div class="flash-error">
		Nenhum produto encontrado.<br>
		<a href="{{ url_for('home') }}">Discobrir novos produtos</a>
	</div>
	{% endif %}

	{% include 'footer.html' %}

{% endblock %}