{% extends "base.html" %}

{% block title %}
	Home - Flask-Store
{% endblock %}

{% block content %}

	{% include 'banner.html' %}

	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	
	{% if search %}
	<h3>Resultado da busca por "{{ query }}":</h3>
	{% else %}
	<div class="container main">
	<h3>Lançamentos</h3>
	<br>
	<div class="items">
	{% for item in items[::-1] %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ item.image }}" class="pic">
				</div>
				{{ item.name }}
				<span class="right-item">R$ {{ item.price }}</span><br>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<span class="text-muted" >({{ range(1, 51) | random }})</span>
			</div>
		</div>
	</a>
	{% endfor %}
	</div>
	</div>	
	{% endif %}

	
	{% if not items %}
	<div class="flash-error">
		Nenhum produto encontrado.<br>
		<a href="{{ url_for('home') }}">Discobrir novos produtos</a>
	</div>
	{% endif %}
{% endblock %}